

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  header {
    background-color: #fbbaba;
    padding: 20px 0;
    text-align: center;
  }
  
  header h1 {
    font-size: 36px;
  }
  
  /* Styling navigation */
  nav {
    background-color: #feba7a;
    color: #ffffff;
    padding: 10px 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #151515;
    text-decoration: none;
    font-size: 18px;
    justify-content: center;
  }
  
  /* Styling main content */
  main {
    padding: 80px;
  }
  

  body {
    background-color: #fffeec;
  }


    section {
        background-color: #f4ba73;
        box-sizing: content-box;
        padding: 15px;
        margin: auto;
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
      
      .img-CVR {
        width: 700px;
        height: 600px;
        padding: 15px;
        align-items: center;
        justify-self: flex-start;
        
     }

   
  
  section h2 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
  }

.wrapper {
    margin: 0px;
    width: 800px;
justify-content: center;

}



